@charset "utf-8";

/* nanum square - regular */

@font-face {
    font-family: 'NanumSquare';
    src: url('../font/nanumSquare/nanumsquarer.eot');
    src: url('../font/nanumSquare/nanumsquarer.eot?#iefix') format('embedded-opentype'), url('../font/nanumSquare/nanumsquarer.woff2') format('woff2'), url('../font/nanumSquare/nanumsquarer.woff') format('woff'), url('../font/nanumSquare/nanumsquarer.ttf') format('truetype'), url('../font/nanumSquare/nanumsquarer.svg#nanumsquarerregular') format('svg');
    font-weight: 400;
}


/* nanum square - bold */

@font-face {
    font-family: 'NanumSquare';
    src: url('../font/nanumSquare/nanumsquareb.eot');
    src: url('../font/nanumSquare/nanumsquareb.eot?#iefix') format('embedded-opentype'), url('../font/nanumSquare/nanumsquareb.woff2') format('woff2'), url('../font/nanumSquare/nanumsquareb.woff') format('woff'), url('../font/nanumSquare/nanumsquareb.ttf') format('truetype'), url('../font/nanumSquare/nanumsquareb.svg#nanumsquarebregular') format('svg');
    font-weight: 800;
}


/*!
css reset.
 */

* {
    word-break: break-all;
    word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0
}

html {
    background: #fff
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 12px;
    line-height: 1.3;
    font-family: "NanumSquare", "NanumGothic", "Malgun Gothic", "맑은고딕", sans-serif;
}

fieldset,
img {
    border: 0 none
}

dl,
ul,
ol,
menu,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

input,
select,
textarea,
button {
    font-size: 100%;
    vertical-align: middle
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal
}

hr {
    display: none
}

body {
    height: 100%;
    background-color: #fff;
    -webkit-text-size-adjust: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:active,
a:hover {
    text-decoration: none
}

select,
textarea,
input[type='text'],
input[type*='date'],
[type='password'],
input[type='submit'],
input[type='search'],
button,
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='file'] {
    -webkit-appearance: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

select {
    -webkit-appearance: none;
}


/* input[type='checkbox']{-webkit-appearance:none} */


/*input[type='radio']{-webkit-appearance:none}*/

input[type='number'] {
    -webkit-appearance: none
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none
}

legend,
.blind {
    overflow: hidden;
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: -1;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    white-space: nowrap
}

figure {
    margin: 0;
}


/*!
 * 기본 Layout 및 module Style Guide 정의.
 */


/*! Layout */


/* Layout | skip */

#skipNavi a {
    display: block;
    position: absolute;
    top: -9999px;
    padding: 5px;
    width: 130px;
    text-align: center;
    background: #fff;
    border: 1px solid #222;
}

#skipNavi a:focus {
    top: 0;
}


/* Layout | Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
    width: 100%;
    min-width: 1160px;
    height: 75px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    background: #fff;
}


/*#header.fixed {position: fixed; top:0; left:0; width:100%;background:#fff;z-index:100;}*/

#header .wrap:after {
    display: block;
    clear: both;
    content: ''
}

#header .logo {
    float: left;
    padding-top: 23px;
}

#header .logo a {
    display: block;
    width: 175px;
    height: 31px;
    background: url(../images/common/logo_top.png);
    text-indent: -999px;
    overflow: hidden;
}

#header .util {
    float: right;
    font-family: sans-serif;
}

#header .util-menu {
    float: left
}

#header .util-menu:after {
    display: block;
    clear: both;
    content: ''
}

#header .util-menu > li {
    position: relative;
    float: left
}

#header .util-menu > li > a {
    display: block;
    line-height: 75px;
    padding: 0 10px;
}

#header .util-menu .mypage {
    margin-left: 4px;
    border-left: 1px solid #e2e2e2;
}

#header .util-menu .mypage > .btn {
    display: inline-block;
    width: 70px;
    height: 75px;
    padding: 0 !important;
}

#header .util-menu .my-lst {
    display: none;
    position: absolute;
    top: 100%;
    right: -1px;
    padding: 6px 0;
    border: 1px solid #e2e2e2;
    background: #fff;
}

#header .util-menu .my-lst a {
    display: block;
    padding: 6px 20px;
    font-size: 14px;
    color: #666;
    white-space: nowrap
}

#header .util-menu .my-lst a:hover {
    color: #333;
}

#header .util-menu .mypage.active .my-lst {
    display: block
}

#header .util-menu .language:before {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 1px;
    height: 14px;
    background: #e6e6e6;
    content: '';
}

#header .util-menu .lang-lst {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #e2e2e2;
}

#header .util-menu .lang-lst a {
    display: block;
    padding: 4px 10px;
    font-size: 13px;
    color: #999;
    font-weight: 800
}

#header .util-menu .lang-lst a:hover {
    color: #333;
    font-weight: bold;
}

#header .util-menu .language.active .arr-dot {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#header .util-menu .language.active .lang-lst {
    display: block;
}

#header .srch-area {
    position: relative;
    float: right;
    width: 70px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

#header .srch-area * {
    vertical-align: middle;
}

#header .srch-area .btn-srch {
    display: inline-block;
    width: 70px;
    height: 75px;
}

#header .srch-area > button > span {
    display: block;
    margin: 0 auto;
}

#header .srch-area .srch-field {
    display: none;
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    width: 400px;
    height: 75px;
    background: #fff;
    border-left: 1px solid #e2e2e2;
}

#header .srch-area .field-area {
    overflow: hidden;
}

#header .srch-area .field-area .i-txt {
    border: 0;
    padding: 0 20px;
    width: 212px;
    height: 75px;
    font-size: 14px;
}

#header .srch-area .field-area label {
    display: block;
    position: absolute;
    top: 50%;
    left: 21px;
    height: 16px;
    margin-top: -8px;
    line-height: 1;
    font-size: 14px;
    color: #999;
}

#header .srch-area .field-area .btn-srch {
    border-left: 1px solid #e2e2e2;
}

#header .srch-area .field-area .close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 72px;
    height: 75px;
    text-align: center;
    line-height: 75px;
}

#header .srch-area .field-area .close button {
    display: block;
    width: 100%;
    height: 100%;
    background: #d3d3d3;
}


/* Layout | Header | Gnb */

#gnb {
    position: relative;
    float: left;
    margin-left: 20px;
    z-index: 400;
}

#gnb a {
    display: block;
}

#gnb > ul {
    padding-left: 18px;
}

#gnb > ul:after {
    display: block;
    clear: both;
    content: ''
}

#gnb > ul > li {
    float: left;
}

#gnb > ul > li > a {
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
    line-height: 75px;
    height: 75px;
    font-size: 16.5px;
    font-weight: bold;
    cursor: pointer;
}

#gnb > ul > li > a > span.border {
    display: none;
    position: absolute;
    bottom: -1px;
    left: 12px;
    right: 13px;
    height: 4px;
    background: #f08200;
}

#gnb > ul > li > a:hover > span.border,
#gnb > ul > li > a:focus > span.border,
#gnb > ul > li.active > a > span.border {
    display: block
}

#gnb .sub {
    display: none;
    position: fixed;
    top: 77px;
    z-index: 41;
    left: 0;
    width: 100%;
    min-width: 1160px;
    height: 49px;
    line-height: 49px;
    font-size: 14px;
    background: #fcfcfc;
    border-bottom: 1px solid #e2e2e2;
}

#gnb .sub:after {
    display: block;
    clear: both;
    content: ""
}

#gnb .sub li {
    display: inline-block;
}

#gnb .sub.sub02 ul {
    margin-left: 300px;
}

#gnb .sub.sub03 ul {
    margin-left: 372px;
}

#gnb .sub.sub04 ul {
    margin-left: 446px;
}

#gnb .sub.sub05 ul {
    margin-left: 504px;
}

#gnb .sub.sub06 ul {
    text-align: right;
}

#gnb .sub.sub07 ul {
    margin-left: 620px;
}

#gnb .sub.sub08 ul {
    margin-left: 744px;
}

#gnb .sub li a {
    display: inline-block;
    position: relative;
    padding: 0 14px;
}

#gnb .sub li.active a {
    color: #f08200;
    font-weight: 600;
}

#gnb .sub li a:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 1px;
    height: 14px;
    background: #e2e2e2;
}

#gnb .sub li:first-child a:before,
#gnb .sub.sub01 a:before {
    display: none;
}

#gnb .sub.sub01 {
    background: url('../images/sub01/mapBg.gif');
}

#gnb .sub.sub01 {
    line-height: inherit;
    height: auto;
}

#gnb .sub.sub01 li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#gnb .sub.sub01 ul {
    display: inline-block;
    poisiton: relative;
    width: 1160px;
    height: 520px;
    margin: 30px 0;
    background: url('../images/common/map.png') no-repeat center top;
}

#gnb .sub.sub01 a {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    color: transparent;
    background: rgba(0, 0, 0, 0.5);
}

#gnb .sub.sub01 ul.jejusi {
    background-position: center -520px;
}

#gnb .sub.sub01 ul.jocheon {
    background-position: center -1040px;
}

#gnb .sub.sub01 ul.gujwa {
    background-position: center -1560px;
}

#gnb .sub.sub01 ul.seongsan {
    background-position: center -2080px;
}

#gnb .sub.sub01 ul.pyoseon {
    background-position: center -2600px;
}


/******************************************/

#gnb .sub.sub01 a.jejusi {
    margin-left: -45px;
    top: 176px;
}

#gnb .sub.sub01 a.aewol {
    margin-left: -192px;
    top: 208px;
}

#gnb .sub.sub01 a.halim {
    margin-left: -288px;
    top: 248px;
}

#gnb .sub.sub01 a.hangyeong {
    margin-left: -336px;
    top: 298px;
}

#gnb .sub.sub01 a.jocheon {
    margin-left: 88px;
    top: 145px;
}

#gnb .sub.sub01 a.gujwa {
    margin-left: 208px;
    top: 128px;
}

#gnb .sub.sub01 a.seogwipo {
    margin-left: -26px;
    top: 320px;
}

#gnb .sub.sub01 a.daejong {
    margin-left: -314px;
    top: 365px;
}

#gnb .sub.sub01 a.andeok {
    margin-left: -240px;
    top: 334px;
}

#gnb .sub.sub01 a.jungmun {
    margin-left: -120px;
    top: 328px;
}

#gnb .sub.sub01 a.namwon {
    margin-left: 82px;
    top: 292px;
}

#gnb .sub.sub01 a.pyoseon {
    margin-left: 178px;
    top: 248px;
}

#gnb .sub.sub01 a.seongsan {
    margin-left: 262px;
    top: 208px;
}

#gnb .sub.sub01 a.chusado {
    margin-left: -282px;
    top: 90px;
}

#gnb .sub.sub01 a.biyangdo {
    margin-left: -374px;
    top: 218px;
}

#gnb .sub.sub01 a.chagwido {
    margin-left: -450px;
    top: 292px;
}

#gnb .sub.sub01 a.gapado {
    margin-left: -328px;
    top: 460px;
}

#gnb .sub.sub01 a.marado {
    margin-left: -330px;
    top: 502px;
}

#gnb .sub.sub01 a.udo {
    margin-left: 386px;
    top: 118px;
}


/* Layout | indicator */

#indicator {
    position: fixed;
    top: 77px;
    left: 0;
    z-index: 15;
    width: 100%;
    min-width: 1160px;
    height: 49px;
    border-bottom: 1px solid #e2e2e2;
    background: #fff
}


/* #indicator.fixed {position: fixed; top:77px; left:0; width:100%; z-index:99;}*/

#indicator a {
    display: block
}

#indicator .wrap:after {
    display: block;
    clear: both;
    content: '';
}

ul.indicator {
    float: left;
}

ul.indicator:after {
    display: block;
    clear: both;
    content: '';
}

ul.indicator > li {
    float: left;
    position: relative;
}

ul.indicator > li + li {
    padding-left: 20px;
    background: url('../images/common/bg_nav_arr.png') 0 50% no-repeat;
}

ul.indicator > li > a {
    padding: 0 18px;
    height: 49px;
    line-height: 51px;
    font-size: 14px;
    letter-spacing: -1px;
    color: #666;
}

ul.indicator > li > a > .arr {
    margin-left: 8px;
}

ul.indicator > li > .sub {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

ul.indicator > li > .sub a {
    padding: 11px 30px;
    border-bottom: 1px solid #e2e2e2;
    font-size: 13px;
    letter-spacing: -1px;
    color: #666;
    font-weight: 800;
    white-space: nowrap;
}

ul.indicator > li > .sub a:hover,
ul.indicator > li > .sub a:focus {
    background: #f0f0f0;
    color: #333;
}

ul.indicator > li.active > a {
    font-weight: 800
}

ul.indicator > li.active > a .arr.down {
    background-position: -60px -50px;
}

ul.indicator > li.active > .sub {
    display: block;
}

ul.indicator .spr_com.home {
    margin-top: 18px;
    vertical-align: top;
}

ul.indicator > li > .sub.sub-type1 {
    left: -40px;
    right: -40px;
}

#indicator .share-sns {
    overflow: hidden;
    float: right;
}

#indicator .share-sns > li {
    float: left;
}

#indicator .share-sns > li + li {
    margin-left: 4px;
}

#indicator .share-sns > li > a {
    display: block;
    width: 24px;
    height: 49px;
    line-height: 51px;
    text-align: center;
}


/* Layout | Container */

#container {
    min-width: 1160px;
    padding-top: 127px;
}


/* Layout | Content */

#contents {
    margin: 0 auto;
    padding-bottom: 60px;
    width: 1160px;
    display: block;
}


/* Layout | Footer */

#footer {
    position: relative;
    z-index: 10;
    min-width: 1160px
}

#footer .foot-wrap {
    width: 1160px;
    margin: 0 auto;
    position: relative;
}

#footer .foot-info {
    background: #3c3c3c;
}

#footer .foot-info .foot-wrap {
    padding: 40px 0;
    color: #999;
    overflow: hidden;
}

#footer .foot-info a {
    color: #bbb;
}

#footer .foot-info dt {
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
}

#footer .foot-info .quick-menu {
    width: 271px;
    padding-right: 50px;
    float: left;
}

#footer .foot-info .quick-menu ul {
    overflow: hidden;
    padding-top: 25px
}

#footer .foot-info .quick-menu ul li {
    float: left;
    width: 111px;
}

#footer .foot-info .quick-menu ul li:nth-child(1),
#footer .foot-info .quick-menu ul li:nth-child(4) {
    width: 86px;
}

#footer .foot-info .quick-menu ul li:nth-child(3),
#footer .foot-info .quick-menu ul li:nth-child(6) {
    width: 74px;
}

#footer .foot-info .quick-menu ul li:nth-child(1),
#footer .foot-info .quick-menu ul li:nth-child(2),
#footer .foot-info .quick-menu ul li:nth-child(3) {
    padding-bottom: 19px;
}

#footer .foot-info .quick-menu ul li a {
    display: block;
    text-align: center;
}

#footer .foot-info .quick-menu ul li span {
    display: block;
    font-size: 13px;
    letter-spacing: -1px;
    padding-top: 6px;
}

#footer .foot-all-menu {
    width: 830px;
    float: left;
    border-left: 1px solid #4e4e4e;
}

#footer .foot-all-menu dl {
    float: left;
    padding-left: 50px;
}

#footer .foot-all-menu dl dd + dt {
    margin-top: 24px;
}

#footer .foot-all-menu dl li {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1px;
}

#footer .foot-all-menu dl:first-child {
    width: 172px;
}

#footer .foot-all-menu dl:first-child ul {
    float: left;
    width: 104px;
}

#footer .foot-all-menu dl:first-child ul + ul {
    width: 50px;
    float: right;
}

#footer .foot-menu {
    background: #242424;
    padding: 33px 0;
}

#footer .foot-menu ul {
    text-align: center;
}

#footer .foot-menu ul li {
    display: inline-block;
    padding: 0 23px;
    position: relative;
    letter-spacing: -1px;
    font-size: 13px;
}

#footer .foot-menu ul li:nth-child(5),
#footer .foot-menu ul li:nth-child(8),
#footer .foot-menu ul li:nth-child(9) {
    letter-spacing: 0;
}

#footer .foot-menu ul li:before {
    content: '';
    width: 1px;
    height: 14px;
    display: block;
    background: #2d2d2d;
    position: absolute;
    top: 1px;
    left: -1px;
}

#footer .foot-menu ul li:last-child:after {
    content: '';
    width: 1px;
    height: 14px;
    display: block;
    background: #2d2d2d;
    position: absolute;
    top: 1px;
    right: -1px;
}

#footer .foot-menu ul li a {
    color: #fff;
}

#footer .foot-con {
    padding: 40px 0;
    font-size: 12px;
    color: #666;
}

#footer .foot-con ul {
    margin-bottom: 18px;
}

#footer .foot-con ul li {
    display: inline-block;
    position: relative;
    padding: 0 9px;
}

#footer .foot-con ul li:before {
    content: '';
    width: 1px;
    height: 11px;
    display: block;
    background: #e2e2e2;
    position: absolute;
    top: 1px;
    left: -1px;
}

#footer .foot-con ul li:first-child {
    padding-left: 0;
}

#footer .foot-con ul li:first-child:before {
    display: none;
}

#footer .foot-con ul li a {
    color: #222;
}

#footer .foot-con .sns-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
}

#footer .foot-con .sns-link a {
    display: inline-block;
    margin-left: 5px;
}

#footer .foot-con ul + div * {
    display: inline-block;
    line-height: 18px;
}

#footer .foot-con ul + div span:last-child:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #e2e2e2;
    overflow: hidden;
    vertical-align: middle;
    margin: 0 10px;
}

#footer .foot-con p {
    line-height: 18px;
}

#footer .foot-con p.copyright {
    margin-top: 17px;
    margin-bottom: 3px;
}


/*! Modal Layer */

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal-open {
    overflow: hidden
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.modal-dialog .btn-close {
    position: absolute;
    right: 0;
    top: -32px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    outline: 0;
    padding: 40px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0)
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

.modal-header {}

.modal-header .title {
    position: relative;
    height: 24px;
    padding-bottom: 30px;
}

.modal-header .title:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #e2e2e2;
    position: absolute;
    top: 13px;
    left: 0;
}

.modal-header .title strong {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 20px;
    background: #fff;
    padding: 0 15px 0 0;
}

.modal-header .title.ac strong {
    text-align: center;
    padding: 0 15px;
}

.modal-body {
    position: relative;
}

.modal-footer {
    margin-top: 30px;
    text-align: center
}

.modal-section + .modal-section {
    margin-top: 36px;
}


/*! common */

.wrap {
    margin: 0 auto;
    width: 1160px;
}


/*! common | Icon */

.spr_com {
    display: inline-block;
    background: url(../images/common/spr_comm.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    vertical-align: middle;
}

.spr_com.arr-dot {
    width: 7px;
    height: 6px;
    background-position: 0 0;
}


/* 언어선택 화살표 */

.spr_com.srch-close {
    width: 24px;
    height: 24px;
    background-position: -120px -20px;
}


/* 언어선택 화살표 */

.spr_com.arr.down {
    width: 7px;
    height: 5px;
    background-position: -40px -50px;
}


/* 인디케이트 화살표 */

.spr_com.arr.up {
    width: 7px;
    height: 5px;
    background-position: -60px -50px;
}


/* 인디케이트 화살표 */

.spr_com.home {
    width: 14px;
    height: 14px;
    background-position: -100px -20px;
}


/* 인디케이트 홈 */

.spr_com.arr-menu {
    width: 6px;
    height: 9px;
    background-position: -20px 0;
}


/* GNB 서브메뉴 */

.spr_com.arr-menuB {
    width: 8px;
    height: 12px;
    background-position: -121px -48px;
}


/* GNB 서브메뉴2 */

.spr_com.arr-menu2 {
    width: 8px;
    height: 14px;
    background-position: -150px -20px;
}


/* GNB 서브메뉴 이미지 */

.spr_com.srch {
    width: 28px;
    height: 25px;
    background-position: 0 -20px;
}


/* 돋보기 */

.spr_com.zoom {
    width: 15px;
    height: 14px;
    background-position: -40px -20px;
}


/* 버튼 돋보기 */

.spr_com.arr-top {
    width: 6px;
    height: 5px;
    background-position: -40px 0;
}


/* TOP 버튼 화살표 */

.spr_com.page-first {
    width: 16px;
    height: 15px;
    background-position: -60px 0;
}


/* paging 화살표 first */

.spr_com.page-prev {
    width: 9px;
    height: 15px;
    background-position: -80px 0;
}


/* paging 화살표 previous */

.spr_com.page-next {
    width: 7px;
    height: 11px;
    background-position: -100px 0;
}


/* paging 화살표 next */

.spr_com.page-last {
    width: 15px;
    height: 11px;
    background-position: -120px 0;
}


/* paging 화살표 last */

.spr_com.page-up {
    width: 10px;
    height: 7px;
    background-position: -140px 0;
}


/* page 이동 화살표 up */

.spr_com.page-down {
    width: 10px;
    height: 7px;
    background-position: -160px 0;
}


/* page 이동 화살표 down*/

.spr_com.ico-new {
    width: 25px;
    height: 8px;
    background-position: 0 -50px;
}


/* 게시판 new 아이콘 */

.spr_com.ico-file {
    width: 9px;
    height: 18px;
    background-position: -60px -20px;
}


/*게시판 첨부파일 아이콘*/

.spr_com.ico-caution {
    width: 3px;
    height: 12px;
    background-position: -80px -20px;
}


/* 게시판 느낌표 아이콘*/

.spr_com.ico-mymenu {
    width: 28px;
    height: 24px;
    background-position: -80px -50px;
}


/* GNB MYPAGE */


/*! common | Icon | Sns Share */

.spr_share {
    display: inline-block;
    background: url(../images/common/spr_share.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
    vertical-align: middle;
}

.spr_share.kakao {
    width: 20px;
    height: 14px;
    background-position: 0 0;
}

.spr_share.insta {
    width: 16px;
    height: 14px;
    background-position: -30px 0;
}

.spr_share.line {
    width: 18px;
    height: 14px;
    background-position: -59px 0;
}

.spr_share.twitter {
    width: 10px;
    height: 14px;
    background-position: -90px 0;
}

.spr_share.facebook {
    width: 14px;
    height: 14px;
    background-position: -112px 0;
}

.spr_share.bookmark {
    width: 14px;
    height: 14px;
    background-position: -134px 0;
}

.spr_share.print {
    width: 15px;
    height: 14px;
    background-position: -160px 0;
}


/*! common | star */

.star-rate {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.star-rate .rate {
    display: inline-block;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    vertical-align: top;
}

.star-rate .i-rate {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star-rate .i-rate:after {
    display: block;
    clear: both;
    content: '';
}

.star-rate .i-rate > button:first-child {
    margin-left: -20%;
}

.star-rate .i-rate > button {
    display: block;
    width: 20%;
    float: left;
    height: 100%;
    text-indent: -999px;
    overflow: hidden;
}

.star-rate .i-rate > button > span {
    display: block
}

.star-rate .rate.rate1 {
    width: 20%;
}

.star-rate .rate.rate2 {
    width: 40%;
}

.star-rate .rate.rate3 {
    width: 60%;
}

.star-rate .rate.rate4 {
    width: 80%;
}

.star-rate .rate.rate5 {
    width: 100%;
}

.star-rate.sm {
    width: 80px;
    height: 16px;
    background: url(../images/common/spr_star_sm.png) repeat-x;
}

.star-rate.sm .rate {
    background: url(../images/common/spr_star_sm.png) 0 100% repeat-x;
}


/*! form style */

.itextarea {
    position: relative;
    border: 1px solid #ddd;
    background: #f8f8f8;
    padding: 18px 20px;
}

.itextarea > textarea {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 30px;
    border: 0;
    background: transparent;
    font-size: 14px;
    color: #333;
    letter-spacing: -1px
}

.itextarea > .label {
    position: absolute;
    top: 18px;
    left: 20px;
    font-size: 14px;
    color: #333;
    letter-spacing: -1px
}